<!DOCTYPE html>
<h1>Example App: Repo</h1>

<form action='/repo'>
	Enter an owner name:<input type='textbox' name='owner'/>
	Enter a repo name:<input type='textbox' name='repo'/>
	Enter a starting date:<input type='textbox' name='since'/>
	<button type='submit'>Send</button>
</form>
<p>{{ reqUrl }}</p>
<p>{{ resBody }}</p>