<!DOCTYPE html>
<form action='/repo'>
	Enter an owner name:<input type='textbox' name='owner' value='lelandtran'/>
	<br>
	Enter a repo name:<input type='textbox' name='repo'/>
	<br>
	Date Range (YYYY-MM-DD):
	<br>
	<input type='textbox' name='since' placeholder='Starting date'/>
	<input type='textbox' name='until' placeholder='Ending date'/>
	<br>
	<button type='submit'>Send</button>
</form>